<h3>Booking Form for {{movie.title}}</h3>
<p>Number of Seats <input type="text" ng-model="numSeats" />
<p>Rows: {{cinema.rows}} Cols: {{cinema.cols}} </p>
<p>Show Time Chosen is: {{selectedShowTime}}
<p>Last Seat chosen is {{rowChosen}}-{{colChosen}} </p>
<p>Booking ({{isBooked}}):
	
	
	<input type="text" ng-model="bookingData.name" />
	
<select ng-model="selectedShowTime" ng-options="item for item in movie.showTimes"></select>
	

<div ng-repeat="r in rows" class="row">
	
	<div id="seat_{{$parent.$index}}_{{$index}}" ng-repeat="c in cols" ng-class="addClass(this)" data-row="{{$parent.$index}}" data-col="{{$index}}" ng-click="chooseSeat(this)"></div>
</div>
<p><button  ng-click="createBooking()" ng-show="bookingData.name.length > 0">Book Now</button></p>

<p><a ng-href="#/booked" ng-show="isBooked==1">Go to Booking</a></p>

