<h1>Search for Movie</h1>
<input type="text" ng-model="searchItem">
<button class="btn btn-primary" ng-click="search()">Search</button>


<div ng-show="resultFound">
	<table class="table">
		
		<tr><td>Title</td><td>{{movie.Title}}</td></tr>
		<tr><td>Year</td><td>{{movie.Year}}</td></tr>
		<tr><td>Rated</td><td>{{movie.Rated}}</td></tr>
		<tr><td>Director</td><td>{{movie.Director}}</td></tr>
		<tr><td>Runtime</td><td>{{movie.Runtime}}</td></tr>
		
		
	</table>

</div>


